body {

  display: flex;
  flex-direction: column;
  justify-content: center;

h6{
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
}
p{
  margin: 5px auto 0 auto;
}
}

  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(8px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .winner {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: rgb(20, 134, 241);
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }





table {
  display: flex;
  table-layout: fixed;
  width: 90%;
  margin: auto;
  justify-content: center;
  padding: 10px;
  margin-bottom: 2em;
}

.rows {
  padding-right: 1.5em;
  padding-left: 1.5em;
  text-align: center;
}

.results {
  display: flex;
  border: #aaa solid;
  border-radius: 25px;
  width: 90vw;
  margin: 50px auto 0 auto;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
}


th {
  letter-spacing: 2px;
  border: 1px solid black;
  padding: 0.4em;
}

td {
  letter-spacing: 1px;
  font-size: 14px;
  border: 1px solid black;
  padding: 0.5em;
}

tbody td {
  text-align: center;
}

.options-container{
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  font-size:12px;

  span{
  display: block;
  margin: 5px ;
  }

  padding-top: 20px;
  padding-left: 10px;

}

ul{
  padding: 0;
  margin-bottom: 0;
}
li{
  list-style:none;
  display: flex;
  justify-content: space-between;
}
.bar{
  background-color: #ff9f43;
  overflow-x: visible;
  white-space:nowrap;
  margin: 5px;
  padding-left: 3px;
  width: 0;
  transition: width 1s
}

.fa-trophy {
  padding-top: 8px;
  margin-left: 5px;
  color: gold;
}

#logo_polls{
  padding-left: 1em;
  display:flex;
  height: 100px;
  align-items: center;
  img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    vertical-align: middle;
    align-items: center;
  }
  font-weight: bold;
  span:first-letter{
  font-size: 30px;
  color: #b33939;
}
}




@media only screen and (min-width: 768px) {
  .results{
    h6{
      font-size: 24px;
    }
    .p{
      font-size: 20px;
    }
    width: 700px;
    margin: 100px auto 100px auto;
    font-size: 20px;
  }
  .bar{
    font-size: 20px;
  }
  #logo_polls{
    margin:0 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .results{
    width: 700px;
    font-size: 24px;
  }
  #logo_polls{
    margin:0 10vw;
  }
}
